<div class="container mt-4">
  <div class="row">
    <div class="col-xs-4">
       <input type="text" placeholder="Enter Origin" class="w-100" [(ngModel)]="origin" />
    </div>
    <div class="col-xs-4">
        <button (click)="searchResults()" [disabled]="isLoading">Search Results</button>
    </div>
  </div>
  
  <app-custom-table [columns]="columns" [values]="results">
    <!-- Header Custom Template -->
    <ng-template #header let-columns>
      <tr>
        <th *ngFor="let column of columns">[{{column.title}}]</th>
      </tr>
    </ng-template>
  
    <!-- Body Custom Template -->
    <ng-template #body let-item let-columns="columns">
        <tr class="custom-height">
          <td class='vert-align' *ngFor="let column of columns">{{item[column.key]}}</td>
        </tr>
    </ng-template>
  </app-custom-table>
  
</div>